---
// import "../../styles/global.css"

//components
import Tab from "../shared/tab.astro";
import TabContainer from "../shared/tabContainer.astro";
import ThreeColumnWithRightBar from "../../components/layouts/threeColumnWithRightBar.astro";
import RightSideBar from "../rightSideBar.astro";

//you need to pass the same name for all tabs
const tabName = "my_tabs_6"
---
<ThreeColumnWithRightBar>
    <div class="card shadow-xl border border-gray-200">
        <div class="card-body ">
            <TabContainer>
                <slot />
                <!-- <Tab name={tabName} label="Tab 1" checked>
                    <p>Tab content 1</p>
                </Tab>    
            
                <Tab name={tabName} label="Tab 2">
                    <p>Tab content 2</p>
                </Tab>     -->
            
                
            </TabContainer>
    </div>
    </div>



    <RightSideBar>
        <p>Right Side Bar</p>
    </RightSideBar>
</ThreeColumnWithRightBar>

