---
// DisplayField.astro
const { title, value } = Astro.props;
---

<div class="field-container">
  <span class="field-title">{title}:</span>
  <span class="field-value">{value}</span>
</div>

<style>
  .field-container {
    display: flex;
    align-items: center;
    /* margin-bottom: 1rem; */
    padding: 0.5rem 0;
    /* border-bottom: 1px solid #e0e0e0; */
    font-family: "Segoe UI", sans-serif;
  }

  .field-title {
    font-weight: 600;
    color: #333;
    width: 210px; 
    flex-shrink: 0;
  }

  .field-value {
    color: #444;
    flex-grow: 1;
    text-align: left;
  }
</style>
