<fieldset class="fieldset bg-base-100 border-base-300 rounded-box p-4">
  <legend class="fieldset-legend">Salary Account Information</legend>
  <label class="input w-3/4">
    Bank Name
    <input type="text" class="grow text-right" placeholder="Type here" />
  </label>
  <label class="input w-3/4">
    Branch Name
    <input type="text" class="grow text-right" placeholder="Type here" />
  </label>
</fieldset>
