---

---

<div class="grid grid-cols-1 md:grid-cols-12 lg:grid-cols-12 gap-5">
    <div class="col-span-1 md:col-span-12 lg:col-span-9">
        <slot name="container" />
    </div>
    <div class="col-span-1 md:col-span-12 lg:col-span-3">
        <slot name="sidebar" />
    </div>
</div>
