---

---
<div class="grid grid-cols-1 md:grid-cols-12 lg:grid-cols-12 mt-5">
    <div class="col-span-1 md:col-span-2 lg:col-span-2">
        <slot name="important"/>
    </div>
    <div class="col-span-1 md:col-span-9 lg:col-span-9">
        <slot name="information"/>
    </div>
    <div class="col-span-1 md:col-span-1 lg:col-span-1 ">
        <slot name="action"/>
    </div>
</div>