---
import "../../styles/global.css"
import ThreeColumnsFullWidth from "./threeColumnsFullWidth.astro";
import RightSideBar from "../../components/rightSideBar.astro";
---

<div class="grid grid-cols-1 md:grid-cols-[4fr_100px] lg:grid-cols-[3fr_1fr] gap-2">
    
      <slot />

  
  </div>