---

import AvatarWithText from "../avatarWithText.astro";


---
<div class="flex flex-col gap-2 p-4">
    <AvatarWithText 
    userImageLink="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp"
        updateText="Yellingcat updated the app status to stalled." />
    
        <AvatarWithText 
        userImageLink="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp"
            updateText="Yellingcat updated the app status to stalled." />
</div>

