---
import MainLayout from "../../components/layouts/mainLayout.astro";
import FormInput from "../../components/shared/formInput.astro";
import { formViewWorkflowList } from "../../scripts/formCreateData";

---
<MainLayout>
    
    <div class="w-full">
        <FormInput 
        formData = {formViewWorkflowList}
        />
    </div>
</MainLayout>